$primary-color: cadetblue; 
$secondary-color: goldenrod;
$background-color: azure;
$media-background-color: beige;
$border-color: black;
$item-background-color: darkgoldenrod;
$link-color: brown;
$link-hover: green;
$link-visited: orange;
$article-color: burlywood;